/* Background Styles */
body {
    background: linear-gradient(180deg, #879eb0, #27343e);
    background-size: cover;
    background-attachment: fixed;
    color: #f3f4f5;
    margin: 0;
    overflow-x: hidden;
}

/* Add particles.js container */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Profile Photo */
.profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    object-fit: cover;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .profile-photo {
        width: 50px;
        height: 50px;
    }
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
    position: relative;
    z-index: 10;
}

.navbar .menu {
    display: flex;
    gap: 15px;
}

.navbar .menu a {
    text-decoration: none;
    color: #f3f4f5;
    font-size: 18px;
    font-weight: bold;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: #f3f4f5;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 20px 0;
    }

    .navbar .menu a {
        padding: 10px 20px;
        text-align: center;
        display: block;
    }

    .hamburger {
        display: block;
    }

    .menu.active {
        display: flex;
    }
}

/* Home Section */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 20px;
}

.home .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.home img {
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.05);
}

.home h1 {
    font-size: 36px;
    margin: 0;
}

.home p {
    font-size: 18px;
    margin: 10px 0 20px;
    /* line-height: 1.6; */
}

.home .btn {
    padding: 10px 20px;
    background-color: #273554;
    color: #f5f0e6;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.home .btn:hover {
    background-color: #704824;
}

@media (max-width: 768px) {
    .home h1 {
        font-size: 28px;
    }

    .home p {
        font-size: 16px;
    }
}

/* About Section */
#about {
    text-align: center;
    padding: 80px 20px;
}

#about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
}

/* Projects Section */
/* #projects {
    padding: 80px 20px;
} */

#projects h2 {
    font-size: 32px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#projects p{
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.project h3 {
    font-size: 24px;
    color: #fff;
}

.project p {
    font-size: 18px;
}

.project .btn {
    padding: 10px 20px;
    background-color: #273554;
    color: #f5f0e6;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.project .btn:hover {
    background-color: #704824;
}

@media (max-width: 768px) {
    .project {
        max-width: 100%;
    }
}

.certificates {
    font-size: 32px;
    text-align: center;
    padding: 80px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.certificate-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fffefe;
}

.certificate-slider-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.certificate-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease-in-out;
}

.certificate-card {
    flex: 0 0 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.certificate-card:hover {
    transform: scale(1.05);
}

.certificate-card img {
    width: 100%;
    height: auto;
    display: block;
}

.slider-arrow {
    background-color: #342c66;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.slider-arrow:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .certificate-card {
        flex: 0 0 200px;
    }

    .slider-arrow {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .certificate-card {
        flex: 0 0 150px;
    }
}


/* Contact Section */
#contact h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#contact p {
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    padding: 12px 20px;
    background-color: #273554;
    align-items: center;
    color: #f5f0e6;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


form button:hover {
    background-color: #704824;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #f5f0e6;
}



/* Social Icons Container */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Social Icon Style */
.social-icon {
    font-size: 30px; /* Size of the icons */
    color: #fff; /* White color for the icons */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition on hover */
}

/* Hover Effect */
.social-icon:hover {
    color: #1da1f2; /* Twitter Blue */
}

/* Hover Effect for Each Icon */
.social-icon:hover i {
    transform: scale(1.2); /* Slightly enlarge the icon on hover */
}

/* Optional: Add different colors for each icon */
.social-icon:nth-child(1):hover {
    color: #1da1f2; /* Twitter Blue */
}

.social-icon:nth-child(2):hover {
    color: #0077b5; /* LinkedIn Blue */
}

.social-icon:nth-child(3):hover {
    color: #f8f6f6; /* GitHub  */
}

.social-icon:nth-child(4):hover {
    color: #e1306c; /* Instagram Pink */
}
